<br class="container">
<div class="row justify-content-center">
  <div class="col-6">
    <h1 class="display-4-selection text-center">Editez votre profil</h1>

    <%= render 'update_form', user: @user %>
  </div>
</div>
