<br class="container">
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h1 class="display-4-selection text-center">Editez votre profil</h1>

    <!-- Update Form -->
    <%= render 'update_form', user: @user %>

    <div class="text-center mt-5">
      <%= link_to 'Voir le profil', @user, class:"btn btn-primary mr-5" %>
      <%= link_to 'Retour Accueil', root_path, class:"btn btn-secondary" %>
    </div>

  </div>
</div>