<!-- Page Title-->
<h1 class="display-4-selection text-center my-5">Qui sommes-nous?</h1>
<p class="text-center h5 my-5">Anciens auto-entrepreneurs, nous en avons eu assez de refaire une journée de travail après notre activité pour la comptabilité.<br />
Ainsi nous avons pris la décision de nous réunir pour vous faciliter la vie.</p>
<!-- Page Team -->
<div class="row justify-content-center py-3">

  <!-- Three columns Team members description -->
  <div class="row text-center">
    <div class="col-lg-4 ">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://static8.viadeo-static.com/ja40XWseNkWPvz1nDGHNme5rty4=/300x300/member/0021uhz7q4k8wvkx%3Fts%3D1536151348000" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" </img>
      <h2 class="py-3">Julien </h2>
      <p>Leader charismatique et impitoyable calculateur de chiffre d'affaires !</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="<%= image_path "bento_cowboy-min.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" </img>
      <h2 class="py-3">David</h2>
      <p>On l'appelle Bento l'afficionado dans le milieu, grand virtuose de la TVA</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://media-exp1.licdn.com/dms/image/C5603AQFFYvmCupZIuQ/profile-displayphoto-shrink_200_200/0?e=1596672000&v=beta&t=L9C7FWKV2AguDdF98KAJcxoe154lMCRpB7mLZIDLjKc" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" </img>
      <h2 class="py-3">Andy</h2>
      <p>Happiness manager, garrant de la bonne humeur de l'équipe.</p>

    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <!-- End of first 3 column description lign -->

  <!-- 2 columns Team members description -->
  <div class="row text-center pb-5">
    <div class="col-lg-6 pt-3">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://media-exp1.licdn.com/dms/image/C5603AQH07p-GH5AbcA/profile-displayphoto-shrink_200_200/0?e=1596672000&v=beta&t=3psi7uElzN8_p_aWdzCmyvuCI9F6428-jLqbWFGw-XU" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" </img>
      <h2 class="py-3"> Detsouvan</h2>
      <p class="px-2">Notre expert graphiste. Pour des devis et factures qui en mettrons plein la vue à vos clients!</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-6 pt-3">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://media-exp1.licdn.com/dms/image/C4D03AQF8ePuNlhlTEQ/profile-displayphoto-shrink_200_200/0?e=1596672000&v=beta&t=_7U_qLEXF2lNbfnY0uFCLjUXHqLAg3-ckLvOrLtGx80" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" </img>
      <h2 class="py-3">Lara</h2>
      <p class="px-2">Si vous êtes ici c'est grace à elle. Internet n'a plus le moindre secret pour elle!</p>

    </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->
  <!-- End of first 3 column description lign -->
