<h1 class="text-center my-5">Oups ! Vous êtes perdu(e) ?</h1>
<p class="text-center">La page que vous cherchez semble introuvable...Il se peut qu'elle ait été supprimée ou bien qu'elle n'ait jamais existé.</p>

<%= image_tag 'undraw_page_not_found_su7k.svg', size: "300", class: "row justify-content-center mx-auto" %>
<div class="row justify-content-center mb-5">
  <%= link_to "Retour à l'accueil", root_path, class: "btn btn-primary btn-lg" %>
</div>
