.card-form__body {
  background-color: white;
}

.form-control {
  font-family: 'Comfortaa', Helvetica, Arial, sans-serif !important;
}

.custom-radio-check input[type="radio"] {
  display: none;
}

.custom-radio-check input[type="radio"]:checked+label {
  background-color: #6c757d;
  color: white !important;
}

.select2-selection {
  overflow: auto
}