.jumbotron {
  width: 99.25vw;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),
  url("https://images.unsplash.com/photo-1569051394557-6b5ecc395d63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-hero {
  height: 700px;
  background-image: url("jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/*Boutons*/
.btn-jumbo{
  background-color: var(--grey-color);
  color: #FFFFFF;
  font-size: 18px;
  font-width: bold;
  box-shadow: #2E2F30;
  box-sizing: border-box;
  width: 200px;
}

.btn-jumbo:hover {
  color: rgba(255, 255, 255, 0.54);
}

.btn-jumbo2{
  background-color: var(--primary-color);
  color: #FFFFFF;
  box-shadow: aliceblue;
  font-size: 18px;
  font-width: bold;
  width: 200px;
}

.btn-jumbo2:hover {
  color: #FFFFFF;
  background-color: #12ccab !important;
}

/*Jumbotron*/
.jumbo-text{
  color: #FFFFFF;
}