.jumbotron {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),
  url(/images/waves.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  color: #2F3240;
}

.body {

  color:#484C5E;

}
.green-new {
  color: #36F1CD;
}

.light-green {
  background-color: #F5FBFB;
}


.dark-grey {
  background-color: #2F3240;
}

