.section-light {
  background-color: #aae9e2ff;
  margin-right:0;
  margin-left:0
}

h1, h2, h3, h4, h5, h6 {
  color: #2F3240;
}

main {
  background-color: white;
}

body {
  color:#484C5E;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.green-new {
  color: var(--primary-color);
}

.light-green {
  background-color: #F5FBFB;
}

.dark-grey {
  background-color: var(--grey-color);
}


.video-container {
  max-width: 600px;
  margin: auto;
}


.circle-blue {
  border: solid 1px #b6b6fa;
}


.card-img-top {
  object-fit: cover;
  height:15rem;
}


.landing{
  border: 1px solid #e7e7fc;
  width:75%;
  display: flex;
  justify-content: space-around;
}

.blue-light{
  color: #e7e7fc;
}

.card2 {
  color: var(--grey-color)!important;
  background-color: #e7e7fc!important;
}

.card1 {
  color: #e7e7fc!important;
  background-color: var(--grey-color)!important;
}

.card2:hover {
  transform: scale(1.1);
}

.card1:hover {
  transform: scale(1.1);
}

