<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous notifier du changement en cours de votre adresse email <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous notifier du changement de votre adresse email  <%= @resource.email %>.</p>
<% end %>
