<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white">

  <!-- Social medias -->
  <div class="container text-white">
    <div class="row py-2 d-flex align-items-center">
      <div class="col-md-6 col-lg-5 text-center text-white text-md-left mb-4 mb-md-0">
        <p class=" text-white mb-0 mt-5">Retrouvez les aventures de <span class="greenblue">Monka sur les réseaux sociaux !</span></p>
      </div>

      <div class="col-md-6 col-lg-7 text-center text-md-right">
        <!-- Twitter -->
        <i class="fa fa-twitter text-white mr-4"></i>
        <!-- Facebook -->
        <i class="fa fa-facebook-f text-white mr-4"></i>
        <!-- Instagram -->
        <i class="fa fa-instagram text-white"></i>
      </div>
    </div>
  </div>

  <!-- Three columns -->
  <div class="container text-center text-md-left mt-5">

    <div class="row mt-3 text-white">

      <!-- Left column -->
      <div class="col-12 col-md-4 mb-4 px-5">
        <h6 class="greenfoot text-uppercase font-weight-bold">Monka</h6>
        <hr class="hrw teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Une appli <span class="greenblue">100% made in France</span> pour les auto-entrepreneurs qui recherchent l'efficacité ! Développé avec fougue par
          <a href="//github.com/Julio-Bento-Diddy-Lara-Detsou-team/The-not-loosing-a-joker-because-of-a-kitty-Project">
            <span class="greenblue">The Monka Team </span>
          </a>
          pour <a href="//www.thehackingproject.org/fr"><span class="greenblue">THP</span></a>
        </p>
      </div>

      <!-- Middle column -->
      <div class="col-md-4 mx-auto mb-4 px-5">
        <h6 class=" greenfoot text-uppercase font-weight-bold">Mentions légales</h6>
        <hr class="hrw teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><%= link_to "Politique de confidentialité", root_path, class: "text-white" %></p>
        <p><%= link_to "Conditions générales de vente", root_path, class: "text-white" %></p>
      </div>

      <!-- Right column -->
      <div class="col-md-4 mx-auto mb-md-0 mb-4 px-5">
        <h6 class=" greenfoot text-uppercase font-weight-bold">Contact</h6>
        <hr class="hrw teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fa fa-home mr-3"></i>8 rue du Poitou 75003, Paris</p>
        <p><i class="fa fa-envelope mr-3"></i>contact@monka.com</p>
        <p><i class="fa fa-phone mr-3"></i> +33 6 19 76 78 56</p>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class=" footer-copyright text-center text-white-50 py-3 small">© 2020 Copyright:
    <%= link_to "Monka.com", root_path, class: "greenblue" %>
  </div>
</footer>
