<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container-fluid">
    <p class="m-0 text-center text-white">
      Développé avec &#10084;&#65039; par
      <a href="//github.com/Julio-Bento-Diddy-Lara-Detsou-team/The-not-loosing-a-joker-because-of-a-kitty-Project" target="_blank" class="text-light">
        The Monka Team</a>	&#128298;
      pour <a href="//www.thehackingproject.org/fr" target="_blank" class="text-light">THP</a>
    </p>
  </div>
</footer>
