<div class="jumbotron jumbotron-fluid jumbotron-hero text-center text-center">

  <div class="justify-content-start col-lg-6 mb-4">
    <h2 class="display-2 jumbo-text">monka</h2>
    <p class="lead text-white">En un clic, tout sur mon CA !</p>

    <%= link_to "Inscription", new_user_registration_path, class: 'btn btn-jumbo m-2 p-3 shadow' %>
    <%= link_to "Connexion", new_user_session_path, class: 'btn btn-jumbo m-2 p-3 shadow' %>
  </div>

</div>

