<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Monka</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="<%= user_path(current_user) if user_signed_in? %>">Profil <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link <%= "active" if controller_name === 'customers' && action_name === 'index' %>" href="<%= customers_path %>">Mes clients</a>
      <a class="nav-item nav-link" href="">Mes Devis</a>
    </div>
  </div>
</nav>
